@use "./header.scss";
@use "./footer";
@import 'variables';

header {
  background: $main-color-gradient;
}
.formulaire{
  background-color: $secondary-color;
  border-radius: 20px;
  width: 90%;
  margin: auto;
  padding: 20px 0px;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 20px;
  .field{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    label{
      display: inline-block;
      width: 200px;
      font-weight: bold;
      color: $white;
    }
    input{
      display: inline-block;
      width: 50%;
      border: none;
      height: 30px;
      border-radius: 10px;
      color: $font-color;
      font-family: inherit;
      padding-left: 10px;
    }
  }
}
.button{
  display: flex;
  justify-items:center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  font-family: inherit;
  .ajouter,.modif,.supprimer{
    font-family: inherit;
    background-color:#ECEFFC;
    color:#3C67E2;
    font-weight: bold;
    padding: 10px 40px;
    cursor: pointer; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;

  }
  .ajouter:hover,.modif:hover{
    background-color: #3c68e2;
    color: #ECEFFC;
  }
  .supprimer{
    background-color:#FCECF4;
    color:#E23C3C;
    &:hover{
      background-color:#E23C3C;
      color:#FCECF4;
    }
  }
}

@media screen and (max-width:600px) {
  form{
    .field{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      label{
        font-size: 12px;
        padding: 8px 0px 5px;
      }
      input{
        width: 90%;
      }
    }
  }
}